vim/*
!vim/.vim/

vim/.vim/*
!vim/.vim/vim-addons/
!vim/.vimrc

vim/.vim/vim-addons/*
!vim/.vim/vim-addons/vim-snippets/

vim/.vim/vim-addons/vim-snippets/*
!vim/.vim/vim-addons/vim-snippets/snippets/

vim/.vim/vim-addons/vim-snippets/snippets/*
!vim/.vim/vim-addons/vim-snippets/snippets/c.snippets
!vim/.vim/vim-addons/vim-snippets/snippets/cpp.snippets
!vim/.vim/vim-addons/vim-snippets/snippets/make.snippets
